.dockerignore
.git
.github
.gitignore
Dockerfile
Procfile
README.md
coverage
docs
features
log
node_modules
spec
test
tmp
uploads
# Skip config/credentials.yml.enc - we prefer to pass all credentials as env vars
config/credentials.yml.enc
