<div class="govuk-grid-row govuk-chat-landing-page govuk-width-container">
  <div class="govuk-grid-column-two-thirds">

    <div class="gem-c-title govuk-!-margin-top-8 govuk-!-margin-bottom-8">
      <h1 class="govuk-heading-l">You do not have access to this page</h1>
    </div>

    <p class="govuk-body">You can only access this page if you’ve been selected to take part in user research and have received your confirmation email.</p>

    <p class="govuk-body">If you’re having difficulty with the link you were sent, you can let the team know by replying to your confirmation email.</p>

    <p class="govuk-body">The team will respond as soon as they can.</p>

  </div>
</div>
