<div class="govuk-chat-icon" <% if defined?(timestamp) %> title="<%= timestamp %>" <% end %>>
    <% if is_prompt %>
        <svg aria-hidden="true" width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_37651_24014)">
                <path d="M11 22C17.0751 22 22 17.0751 22 11C22 4.92487 17.0751 0 11 0C4.92487 0 0 4.92487 0 11C0 17.0751 4.92487 22 11 22Z" fill="#28A197"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M3.29297 18.8487C4.23255 15.4753 7.32741 13 11.0004 13C14.6731 13 17.7678 15.4749 18.7076 18.848C17.8058 19.7338 16.752 20.4654 15.5889 21H11.0004H6.41097C5.24819 20.4655 4.19463 19.7342 3.29297 18.8487Z" fill="white"/>
                <path d="M11 11.5C13.0711 11.5 14.75 9.82107 14.75 7.75C14.75 5.67893 13.0711 4 11 4C8.92893 4 7.25 5.67893 7.25 7.75C7.25 9.82107 8.92893 11.5 11 11.5Z" fill="white"/>
                <path d="M11 21C16.5228 21 21 16.5228 21 11C21 5.47715 16.5228 1 11 1C5.47715 1 1 5.47715 1 11C1 16.5228 5.47715 21 11 21Z" stroke="#28A197" stroke-width="2"/>
            </g>
            <defs>
                <clipPath id="clip0_37651_24014">
                    <rect width="22" height="22" fill="white"/>
                </clipPath>
            </defs>
        </svg>
    <% else %>
        <svg aria-hidden="true" width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M11.5 22C17.299 22 22 17.299 22 11.5C22 5.70101 17.299 1 11.5 1C5.70101 1 1 5.70101 1 11.5C1 17.299 5.70101 22 11.5 22Z" fill="#1D70B8" stroke="#1D70B8" stroke-width="2"/>
            <mask id="mask0_37651_24050" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="6" y="14" width="11" height="5">
                <rect x="7.41504" y="14.5142" width="8.46479" height="3.73239" fill="#D9D9D9" stroke="#F499BE"/>
            </mask>
            <g mask="url(#mask0_37651_24050)">
                <circle cx="11.7943" cy="14.1621" r="2.83099" transform="rotate(66.2823 11.7943 14.1621)" stroke="#F499BE" stroke-width="3"/>
            </g>
            <path d="M6.62009 5.14111L10.7185 12.2397H2.52172L6.62009 5.14111Z" fill="#FFDD00"/>
            <circle cx="14.9018" cy="7.50682" r="3.5493" fill="#F47738"/>
        </svg>
    <% end %>
    <p class="govuk-body govuk-body--bold"><%= text %>
        <% if includeLoadingIcon %>
            <span class="govuk-chat-loading-indicator__dots"></span>
        <% end %>
    </p>
</div>
