<div id="chat-pane-small" class="govuk-chat-info">
  <%= render "chat_icon", { is_prompt: false } %>
  <div class="govuk-body govuk-chat-answer">Hello 👋 To get started, ask a question about business or trade. For example, how do I employ people?</div>
</div>
