<div id="chat-pane-small" class="govuk-chat-info govuk-chat-message">
  <%= render "chat_icon", { is_prompt: false, text: "GOV.UK Chat (experimental)", includeLoadingIcon: false } %>
  <div class="govuk-chat-answer">
    <p class="govuk-body">
      Hello 👋 I'm GOV.UK Chat. I use the guidance on GOV.UK to answer questions.
    </p>
    <p class="govuk-body">
      You can ask me anything about business or trade - just don't include personal or sensitive data and please limit your question to 300 
      characters or less.
    </p>
  </div>
</div>
