<div id="chat-pane-small" class="govuk-chat-info govuk-chat-message">
  <%= render "chat_icon", { is_prompt: false, text: "GOV.UK Chat (experimental)", includeLoadingIcon: false } %>
  <div class="govuk-body govuk-chat-answer">Hello 👋 I'm GOV.UK Chat. I use the guidance on GOV.UK to answer questions. <div class="govuk-!-margin-top-2">You can ask me anything about business or trade - just don't include personal or sensitive data.</div></div>
</div>
