<div class="govuk-grid-row">
  <div id="govuk-chat" class="govuk-grid-column-two-thirds govuk-chat-container">
    <% if @chats.any? %>
      <%= render "conversation", chats: @chats %>
    <% else %>
      <div id="chat-pane-small" class="govuk-chat-info">
        <p class="govuk-body govuk-body--grey">
          This is a chat service, using artificial intelligence, to help you find answers to your queries. This service is an experiment
          to find out how you use GOV.UK.
        </p>
        <p class="govuk-body govuk-body--grey">
          To get answers, simply type in your questions, such as:
        </p>
        <ul class="govuk-list govuk-list--bullet govuk-list--grey">
          <li>how can I set up a business that trades pens?</li>
          <li>how do I register for VAT?</li>
          <li>can I get business support for a start-up in the West Midlands?</li>
        </ul>
      </div>
    <% end %>
  </div>
</div>

<div class="govuk-chat-input-wrapper">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds govuk-chat-input">
        <%= render "form", chat: Chat.new(chat_id: @chat_id) %>
      </div>
    </div>
  </div>
</div>
