<div class="govuk-notification-banner govuk-!-margin-top-6 " role="region"
  aria-labelledby="govuk-notification-banner-title"
  data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
        Your question has been received
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <h3 class="govuk-notification-banner__heading">GOV.UK Chat is <%= page_refreshed ? "still" : nil %> generating an answer</h3>
    <% if page_refreshed %>
      <p class="govuk-body">Thanks for your patience. Check again to find out if your answer is ready.</p>
    <% end %>
    <%= link_to "Check if an answer has been generated", "/chats/refresh?uuid=" + uuid + "&count=" + current_chat_record_count.to_s, class: "govuk-button" %>
  </div>
</div>
