<div id="wrapper" class="direction-ltr govuk-width-container">
  <div class="gem-c-contextual-breadcrumbs">
  <div data-module="gem-track-click ga4-link-tracker" class="gem-c-breadcrumbs govuk-breadcrumbs govuk-breadcrumbs--collapse-on-mobile" data-gem-track-click-module-started="true" data-ga4-link-tracker-module-started="true">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a data-track-category="homeLinkClicked" data-track-action="homeBreadcrumb" data-track-label="" data-track-options="{}" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;breadcrumb&quot;,&quot;index&quot;:{&quot;index_link&quot;:&quot;1&quot;},&quot;index_total&quot;:&quot;3&quot;}" class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a data-track-category="breadcrumbClicked" data-track-action="2" data-track-label="/browse/business" data-track-options="{&quot;dimension28&quot;:&quot;3&quot;,&quot;dimension29&quot;:&quot;Business and self-employed&quot;}" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;breadcrumb&quot;,&quot;index&quot;:{&quot;index_link&quot;:&quot;2&quot;},&quot;index_total&quot;:&quot;3&quot;}" class="govuk-breadcrumbs__link" href="/browse/business">Business and self-employed</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a data-track-category="breadcrumbClicked" data-track-action="3" data-track-label="/browse/business/setting-up" data-track-options="{&quot;dimension28&quot;:&quot;3&quot;,&quot;dimension29&quot;:&quot;Setting up&quot;}" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;breadcrumb&quot;,&quot;index&quot;:{&quot;index_link&quot;:&quot;3&quot;},&quot;index_total&quot;:&quot;3&quot;}" class="govuk-breadcrumbs__link" href="/browse/business/setting-up">Setting up</a>
        </li>
    </ol>
  </div>
</div>

<main role="main" id="content" class="answer" lang="en">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="gem-c-title govuk-!-margin-top-8 govuk-!-margin-bottom-8">
        <h1 class="gem-c-title__text govuk-heading-xl">
          Set up a business
        </h1>
      </div>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="responsive-bottom-margin">
        <div class="gem-c-govspeak govuk-govspeak direction-ltr disable-youtube" data-module="govspeak" data-govspeak-module-started="true">
          <p>What you need to do to set up depends on your type of business, where you work and whether you take people on to help.</p>

          <h2 id="register-your-business">Register your business</h2>
          <p>Most businesses register as a sole trader, limited company or partnership.</p>

          <h3 id="sole-traders">Sole traders</h3>
          <p>It’s simpler to set up as a sole trader, but you’re personally responsible for your business’s debts. You also have some accounting responsibilities.</p>
          <p>Find out more about <a href="/set-up-sole-trader">being a sole trader and how to register</a>.</p>

          <h3 id="limited-companies">Limited companies</h3>
          <p>If you form a limited company, its finances are separate from your personal finances, but there are more <a href="/running-a-limited-company">reporting and management responsibilities</a>.</p>
          <p>Some people get help from a professional, for example an accountant, but you can <a href="/limited-company-formation">set up a company</a> yourself.</p>

          <h3 id="partnerships">Partnerships</h3>
          <p>A partnership is the simplest way for 2 or more people to run a business together.</p>
          <p>You share responsibility for your business’s debts. You also have accounting responsibilities. Find out more about <a href="/set-up-business-partnership">being in a partnership and how to register</a>.</p>

          <h2 id="rules-for-your-type-of-business">Rules for your type of business</h2>
          <p>You may have other responsibilities depending on what your business does.</p>
          <p>Check if you need:</p>

          <ul>
            <li><a href="/licence-finder">licences or permits</a>, for example to play music, sell food or to trade in the street</li>
            <li><a rel="external" href="https://www.abi.org.uk/products-and-issues/choosing-the-right-insurance/business-insurance/">insurance</a></li>
          </ul>

          <p>There are also rules you must follow if you:</p>

          <ul>
            <li><a href="/online-and-distance-selling-for-businesses">sell goods online</a></li>
            <li><a href="/starting-to-import">buy goods from abroad</a> or <a href="/starting-to-export">sell goods abroad</a></li>
            <li><a href="/data-protection-your-business">store or use personal information</a></li>
          </ul>

          <h2 id="where-you-work">Where you work</h2>
          <p>Check what your responsibilities are if you:</p>

          <ul>
            <li><a href="/run-business-from-home">run your business from home</a></li>
            <li><a href="/renting-business-property-tenant-responsibilities">rent somewhere to run your business from</a></li>
          </ul>

          <p>If you rent or buy a property, you may have to pay <a href="/introduction-to-business-rates">business rates</a>. Small businesses can <a href="/apply-for-business-rate-relief/small-business-rate-relief">apply for a discount on business rates</a> and some may pay nothing.</p>

          <p><a href="/expenses-if-youre-self-employed">Check if you can claim office, property and equipment as expenses</a>.</p>

          <h2 id="taking-on-people-to-help">Taking on people to help</h2>
          <p>If you take on <a href="/contract-types-and-employer-responsibilities/agency-staff">agency workers</a> or <a href="/contract-types-and-employer-responsibilities/freelancers-consultants-and-contractors">freelancers</a> you have some responsibilities, for example their health and safety.</p>

          <h3 id="becoming-an-employer">Becoming an employer</h3>

          <p>There are <a href="/employing-staff">things you’ll need to do if you take on your own employees</a>. You’ll have more responsibilities, including:</p>

          <ul>
            <li>running payroll</li>
            <li>paying for their National Insurance - but you can <a href="/claim-employment-allowance">claim an allowance to reduce your bill</a></li>
            <li>providing workplace pensions to eligible staff</li>
          </ul>

          <h2 id="get-help-and-support">Get help and support</h2>
          <p>You can <a href="/business-help">get help with setting up your business</a>.</p>
        </div>
      </div>
    </div>

    <div class="govuk-grid-column-one-third">
      <div class="gem-c-contextual-sidebar">
        <div class="gem-c-related-navigation" data-module="gem-track-click ga4-link-tracker" data-gem-track-click-module-started="true" data-ga4-link-tracker-module-started="true">
          <h2 id="related-nav-related_items-8b39e118" class="gem-c-related-navigation__main-heading" data-track-count="sidebarRelatedItemSection">
            Related content
          </h2>
          <nav role="navigation" class="gem-c-related-navigation__nav-section" aria-labelledby="related-nav-related_items-8b39e118" data-module="gem-toggle" data-gem-toggle-module-started="true">
            <ul class="gem-c-related-navigation__link-list">
              <li class="gem-c-related-navigation__link"><a class="govuk-link govuk-link gem-c-related-navigation__section-link govuk-link gem-c-related-navigation__section-link--sidebar  govuk-link gem-c-related-navigation__section-link--other" data-track-category="relatedLinkClicked" data-track-action="1.1 Related content" data-track-label="/working-for-yourself" data-track-options="{&quot;dimension28&quot;:&quot;3&quot;,&quot;dimension29&quot;:&quot;Working for yourself&quot;}" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;related content&quot;,&quot;index&quot;:{&quot;index_section&quot;:&quot;1&quot;,&quot;index_link&quot;:&quot;1&quot;,&quot;index_section_count&quot;:&quot;1&quot;},&quot;index_total&quot;:&quot;3&quot;,&quot;section&quot;:&quot;Related content&quot;}" href="/working-for-yourself">Working for yourself</a></li>
              <li class="gem-c-related-navigation__link"><a class="govuk-link govuk-link gem-c-related-navigation__section-link govuk-link gem-c-related-navigation__section-link--sidebar  govuk-link gem-c-related-navigation__section-link--other" data-track-category="relatedLinkClicked" data-track-action="1.2 Related content" data-track-label="/tax-help" data-track-options="{&quot;dimension28&quot;:&quot;3&quot;,&quot;dimension29&quot;:&quot;Get help with tax&quot;}" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;related content&quot;,&quot;index&quot;:{&quot;index_section&quot;:&quot;1&quot;,&quot;index_link&quot;:&quot;2&quot;,&quot;index_section_count&quot;:&quot;1&quot;},&quot;index_total&quot;:&quot;3&quot;,&quot;section&quot;:&quot;Related content&quot;}" href="/tax-help">Get help with tax</a></li>
              <li class="gem-c-related-navigation__link"><a class="govuk-link govuk-link gem-c-related-navigation__section-link govuk-link gem-c-related-navigation__section-link--sidebar  govuk-link gem-c-related-navigation__section-link--other" data-track-category="relatedLinkClicked" data-track-action="1.3 Related content" data-track-label="/intellectual-property-an-overview" data-track-options="{&quot;dimension28&quot;:&quot;3&quot;,&quot;dimension29&quot;:&quot;Intellectual property and your work&quot;}" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;related content&quot;,&quot;index&quot;:{&quot;index_section&quot;:&quot;1&quot;,&quot;index_link&quot;:&quot;3&quot;,&quot;index_section_count&quot;:&quot;1&quot;},&quot;index_total&quot;:&quot;3&quot;,&quot;section&quot;:&quot;Related content&quot;}" href="/intellectual-property-an-overview">Intellectual property and your work</a></li>
            </ul>
          </nav>

          <p class="govuk-body govuk-chat-link">
            <%= link_to "Chat with GOV.UK", chats_path, class: "govuk-link govuk-link--bold" %> to ask questions about setting up and running a business.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="gem-c-contextual-footer">
        <div class="gem-c-related-navigation" data-module="gem-track-click ga4-link-tracker" data-gem-track-click-module-started="true" data-ga4-link-tracker-module-started="true">
          <nav role="navigation" class="gem-c-related-navigation__nav-section" aria-labelledby="related-nav-topics-a5a099e8" data-module="gem-toggle" data-gem-toggle-module-started="true">

            <h2 id="related-nav-topics-a5a099e8" class="gem-c-related-navigation__sub-heading gem-c-related-navigation__sub-heading--footer" data-track-count="footerRelatedItemSection">Explore the topic</h2>

            <ul class="gem-c-related-navigation__link-list">
              <li class="gem-c-related-navigation__link"><a class="govuk-link govuk-link gem-c-related-navigation__section-link govuk-link gem-c-related-navigation__section-link--footer" data-track-category="relatedLinkClicked" data-track-action="1.1 Explore the topic" data-track-label="/browse/business/setting-up" data-track-options="{&quot;dimension28&quot;:&quot;1&quot;,&quot;dimension29&quot;:&quot;Setting up&quot;}" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;contextual footer&quot;,&quot;index&quot;:{&quot;index_section&quot;:&quot;1&quot;,&quot;index_link&quot;:&quot;1&quot;,&quot;index_section_count&quot;:&quot;1&quot;},&quot;index_total&quot;:&quot;1&quot;,&quot;section&quot;:&quot;Explore the topic&quot;}" href="/browse/business/setting-up">Setting up</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  </main>
</div>
