<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
  <h3 class="govuk-fieldset__heading" <% if question["title_statement"].present? %> aria-describedby="<%= question['id'] %>-statement" <% end %>>
    <%= question["title"]%>
  </h3>
</legend>
<% if question["title_statement"].present? %>
  <div class="govuk-inset-text" id="<%= question['id'] %>-statement">
    <%= question["title_statement"] %>
  </div>
<% end %>
