<div class="govuk-width-container">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l govuk-!-margin-top-8">Thank you for your feedback</h1>
    <p class="govuk-body">Thank you for taking part in our research. Your feedback will help us create better tools that improve people's experiences on GOV.UK. You can close this browser window or go back to your chat by clicking the button below.</p>
    <%= link_to "Return to your chat", new_chat_url(uuid: @uuid), class: "govuk-button" %>
  </div>
</div>