<div class="govuk-width-container">
  <main class="govuk-main-wrapper--auto-spacing">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">Thank you for taking part in our research. Your feedback will help us create better tools that improve people's experiences on GOV.UK.</p>
      <p class="govuk-body">You can now close this browser window.</p>
    </div>
  </main>
</div>