<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Experimental
    </strong>
    <span class="govuk-phase-banner__text ">
      This is a new feature.
    </span>
  </p>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= @feedback.conversation_questions["title"] %></h1>
    <p class="govuk-body"><%= @feedback.conversation_questions["description"] %></p>
    <%= render "form", feedback: @feedback, questions: @feedback.conversation_questions["questions"] %>
  </div>
</div>
