/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.turbo-progress-bar {
  height: 50px;
  opacity: 0.1;
  background-image: url("saucer.png");
  background-color: rgba(255, 221, 0, 0);
  background-repeat: no-repeat;
  background-position: right;
}

[href="#main-content"].govuk-skip-link--black:focus {
  color: #ffffff;
  background-color: #000000;
  outline: 4px solid #000000;
  outline-offset: -1px;
}

header.govuk-header--yellow {
  background: #FFDD00;
}

header.govuk-header--yellow .govuk-header__container {
  border-bottom: none;
}

header.govuk-header--yellow .govuk-header__logo {
  width: auto;
  padding-bottom: 10px;
}

header.govuk-header--yellow .govuk-header__logo a.govuk-header__link {
  color: #000000;
}

header.govuk-header--yellow .govuk-header__logo a.govuk-header__link:focus {
  color: #ffffff;
  background-color: #000000;
  outline: 4px solid #000000;
  outline-offset: -1px;
}

header.govuk-header--yellow a .govuk-header__logotype-text span {
  font-weight: normal;
}

header.govuk-header--yellow .govuk-phase-banner {
  border: none;
  padding: 0 10px;
}

header.govuk-header--yellow .govuk-phase-banner {
  margin-top: 3px;
}

#chat-pane-small .govuk-body--grey {
  color: #757272;
}

#chat-pane-small .govuk-list--grey {
  color: #757272;
}

.govuk-chat-info {
  margin: 30px 0;
}

.govuk-chat-input-wrapper {
  box-shadow: 0px -2px 10px 1px rgba(151, 151, 151, 0.50);
  padding: 30px 0;
  width: 100vw;
  position: relative;
  left: calc(-50vw + 50%);
}

.govuk-chat-form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.govuk-chat-form .govuk-input {
  width: 85%;
}

.govuk-chat-form input[type="submit"] {
  margin-bottom: 0;
}

.govuk-chat-form .govuk-button--start {
  background-color: #1d70b8;
  padding-bottom: 0;
  padding-top: 0;
  box-shadow: none;
}

.govuk-chat-form .govuk-button--start:hover {
  background-color: #207dce;
}

.govuk-body.govuk-body--bold {
  font-weight: bold;
}

.govuk-grid-row.govuk-chat-container {
  height: 500px;
  overflow: auto;
  padding: 20px 15px;
}

.govuk-chat-container .govuk-chat-timestamp {
  display: block;
  font-weight: bold;
}

.govuk-chat-icon *{
  display: inline-block;
}

.govuk-chat-icon svg{
  vertical-align: text-bottom;
  margin-right: 5px;
}

.govuk-chat-link {
  border-top: 3px solid #FFDD00;
  background-color: #f3f2f1;
  padding: 15px;
}

.govuk-chat-answer p {
  margin-top: 0;
}

.govuk-link--bold {
  font-weight: bold;
}

@media (max-width: 640px) {
  .govuk-chat-form {
    display: block;
  }
  
  .govuk-chat-form .govuk-input {
    width: 100%;
  }
  
  .govuk-chat-form input[type="submit"] {
    margin-top: 20px;
    padding: 10px 0;
  }
}

@media (max-width: 768px) {
  header.govuk-header {
    padding-bottom: 10px;
  }

  header.govuk-header--yellow .govuk-header__logo {
    padding-bottom: 0;
    margin-bottom: 0;
  }

  header.govuk-header--yellow .govuk-phase-banner {
    padding: 10px 0;
    margin-top: 0;
  }
}
