/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* .turbo-progress-bar {
  height: 15px;
  background-color: #ffdd00;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
} */

.turbo-progress-bar {
  height: 50px;
  opacity: 0.1;
  background-image: url('saucer.png');
  background-color: rgba(255, 221, 0, 0);
  background-repeat: no-repeat;
  background-position: right;
}

#chat-pane {
  overflow-y: auto;
  height: 400px;
  padding: 20px;
  border: 1px solid #b1b4b6;
  border-top: 10px solid #1d70b8;
  margin-bottom: 0px;
}

#chat-pane-small {
  padding: 20px;
  border: 1px solid #b1b4b6;
  border-top: 10px solid #1d70b8;
  margin-bottom: 0px;
  color: #b1b4b6;
}

.interaction {
  padding-top: 10px;
  padding-bottom: 10px;
}

.interaction-header {
  background-color: #f3f2f1;
  border-radius: 6px;
  padding: 5px;
  text-align: right;
}

.chat-form {
  padding: 20px;
  padding-bottom: 5px;
  background-color: #f3f2f1;
  border: 1px solid #b1b4b6;
}
