.govuk-chat {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-height: 100vh;
}

.turbo-progress-bar {
  height: 50px;
  opacity: 0.1;
  background-image: url("saucer.png");
  background-color: rgba(255, 221, 0, 0);
  background-repeat: no-repeat;
  background-position: right;
}

[href="#main-content"].govuk-skip-link--black:focus {
  color: #ffffff;
  background-color: #000000;
  outline: 4px solid #000000;
  outline-offset: -1px;
}

header.govuk-header--yellow {
  background: #FFDD00;
}

header.govuk-header--yellow .govuk-header__container {
  border-bottom: none;
}

header.govuk-header--yellow .govuk-header__logo {
  width: auto;
}

header.govuk-header--yellow .govuk-header__logo a.govuk-header__link {
  color: #000000;
}

header.govuk-header--yellow .govuk-header__logo a.govuk-header__link:focus {
  color: #ffffff;
  background-color: #000000;
  outline: 4px solid #000000;
  outline-offset: -1px;
}

header.govuk-header--yellow a .govuk-header__logotype-text span {
  font-weight: normal;
}

header.govuk-header--yellow .govuk-phase-banner {
  border: none;
  padding: 0 10px;
}

header.govuk-header--yellow .govuk-phase-banner {
  margin-top: 3px;
}

#chat-pane-small .govuk-body--grey {
  color: #757272;
}

#chat-pane-small .govuk-list--grey {
  color: #757272;
}

.govuk-chat-info {
  margin-top: 20px;
}
@media (min-width: 640px) {
  .govuk-chat-info {
    margin-top: 30px;
  }
}

.govuk-chat-input-wrapper {
  box-shadow: 0px -2px 10px 1px rgba(151, 151, 151, 0.50);
  padding: 30px 0;
  width: 100vw;
  position: relative;
  left: calc(-50vw + 50%);
}

.govuk-chat-form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.govuk-chat-form .govuk-input {
  width: 85%;
}

.govuk-chat-form input[type="submit"] {
  margin-bottom: 0;
}

.govuk-chat-form .govuk-button--start {
  background-color: #1d70b8;
  padding-bottom: 0;
  padding-top: 0;
  box-shadow: none;
}

.govuk-chat-form .govuk-button--start:hover {
  background-color: #207dce;
}

.govuk-body.govuk-body--bold {
  font-weight: bold;
}

.govuk-width-container.govuk-chat-container-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  min-height: 300px;
}

.govuk-grid-row.govuk-chat-container {
  overflow: auto;
}

.govuk-chat-icon {
  margin-bottom: 10px;
}
.govuk-chat-icon *{
  display: inline-block;
}

.govuk-chat-icon svg{
  vertical-align: text-bottom;
  margin-right: 5px;
}
.govuk-chat-icon .govuk-body {
  margin-bottom: 0;
}

.govuk-chat-link {
  border-top: 3px solid #FFDD00;
  background-color: #f3f2f1;
  padding: 15px;
}

.govuk-chat-container .govuk-chat-message {
  margin-bottom: 20px;
}
.govuk-chat-answer p {
  margin-top: 0;
}

.govuk-link--bold {
  font-weight: bold;
}

.govuk-footer {
  position: relative;
}

.govuk-footer .govuk-footer__copyright-logo {
  background-image: none;
  padding-top: 0;
}

.govuk-footer .govuk-footer__meta-item {
  margin-bottom: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.govuk-chat-input-wrapper .govuk-error-message {
  display: none;
}

@media (max-width: 504px) {
  footer.govuk-footer .govuk-footer__meta {
    justify-content: flex-start;
  }

  footer.govuk-footer .govuk-footer__meta .govuk-footer__copyright-logo {
    margin-top: 15px;
    padding-top: 0;
    background-image: none;
    background-repeat: unset;
    background-position: unset;
    background-size: 0;
  }
}

@media (max-width: 640px) {
  .govuk-chat-form {
    display: block;
  }
  
  .govuk-chat-form .govuk-input {
    width: 100%;
  }

  .govuk-chat-form input[type="submit"] {
    margin-top: 10px;
    padding: 10px 0;
  }
}

@media (min-width: 640px) {
  footer.govuk-footer {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .govuk-chat-container .govuk-chat-message {
    margin-bottom: 40px;
  }
}

@media (max-width: 768px) {
  .govuk-chat header.govuk-header {
    padding-bottom: 10px;
  }

  header.govuk-header--yellow .govuk-header__logo {
    padding-bottom: 0;
    margin-bottom: 0;
  }

  header.govuk-header--yellow .govuk-phase-banner {
    padding: 10px 0;
    margin-top: 0;
  }
}

@media (max-width: 768px) {
  .govuk-chat-landing-page > .govuk-grid-column-two-thirds {
    width: 100%;
  }
}  