.govuk-chat {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-height: 100vh;
}

.govuk-chat-message .govuk-chat-answer .govuk-chat-header {
  margin-top: 30px;
  margin-bottom: 10px;
}
.govuk-chat-message .govuk-body:last-child {
  margin-bottom: 0; 
}

.govuk-chat-answer {
  background-color: #F3F2F1;
}

.govuk-chat-prompt {
  background-color: #D2E2F1;
}

.govuk-chat-answer, .govuk-chat-prompt {
  padding: 15px;
  display: inline-block;
}

.turbo-progress-bar {
  visibility: hidden;
}

[href="#main-content"].govuk-skip-link--black:focus {
  color: #ffffff;
  background-color: #000000;
  outline: 4px solid #000000;
  outline-offset: -1px;
}

header.govuk-header--yellow {
  background: #FFDD00;
}

header.govuk-header, header.govuk-header--yellow .govuk-header__container {
  border-bottom: none;
}

header.govuk-header--yellow .govuk-header__logo {
  width: auto;
}

header.govuk-header--yellow .govuk-header__logo a.govuk-header__link {
  color: #000000;
}

header.govuk-header--yellow .govuk-header__logo a.govuk-header__link:focus {
  color: #ffffff;
  background-color: #000000;
  outline: 4px solid #000000;
  outline-offset: -1px;
}

header.govuk-header--yellow a .govuk-header__logotype-text span {
  font-weight: normal;
}

header.govuk-header--yellow .govuk-phase-banner {
  border: none;
  padding: 0 10px;
}

header.govuk-header--yellow .govuk-phase-banner {
  margin-top: 3px;
}

#chat-pane-small .govuk-body--grey {
  color: #757272;
}

#chat-pane-small .govuk-list--grey {
  color: #757272;
}

.govuk-chat-info {
  margin-top: 20px;
}
@media (min-width: 640px) {
  .govuk-chat-info {
    margin-top: 30px;
  }
}

.govuk-chat-input-wrapper {
  border-top: 1px solid #B1B4B6;
  padding: 20px 0;
  width: 100vw;
  position: relative;
  left: calc(-50vw + 50%);
}
@media (min-width: 700px) {
  .govuk-chat-input-wrapper {
    padding: 30px 0;
  }
}

.govuk-chat-form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.govuk-chat-form .govuk-input {
  width: 85%;
}

.govuk-chat-form input[type="submit"] {
  margin-bottom: 2px;
}

.govuk-chat-form input[type="submit"]:disabled:hover,
.govuk-chat-landing-page .govuk-button--start:disabled:hover,
.govuk-chat-form .govuk-button--start:hover,
.govuk-chat-landing-page .govuk-button--start:hover {
  background-color: #1d70b8;
}

.govuk-chat-form .govuk-button--start,
.govuk-chat-landing-page .govuk-button--start {
  background-color: #207dce;
}

.govuk-chat-form .govuk-button--start {
  padding-bottom: 0;
  padding-top: 0;
}


.govuk-body.govuk-body--bold {
  font-weight: bold;
}

.govuk-width-container.govuk-chat-container-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  min-height: 300px;
}

.govuk-grid-row.govuk-chat-container {
  overflow: auto;
}

.govuk-chat-icon {
  margin-bottom: 10px;
}
.govuk-chat-icon *{
  display: inline;
}

.govuk-chat-icon svg{
  vertical-align: text-bottom;
  margin-right: 5px;
}
.govuk-chat-icon .govuk-body {
  margin-bottom: 0;
}

.govuk-chat-link {
  border-top: 3px solid #FFDD00;
  background-color: #f3f2f1;
  padding: 15px;
}

.govuk-chat-container .govuk-chat-message {
  margin-bottom: 30px;
}
.govuk-chat-answer p {
  margin-top: 0;
}

.govuk-link--bold {
  font-weight: bold;
}

.govuk-footer {
  position: relative;
}

.govuk-footer .govuk-footer__copyright-logo {
  background-image: none;
  padding-top: 0;
}

.govuk-footer .govuk-footer__meta-item {
  margin-bottom: 0;
}

.govuk-chat .govuk-details {
  margin-top: 20px;
  margin-bottom: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.govuk-chat-loading-indicator { 
  display: none;
  align-items: baseline;
  margin-bottom: 10px;
}

.govuk-chat-loading-indicator__wrapper {
  display: block;
  margin-top: 10px;
  width: 65px;
  background: #F3F2F1;
  padding: 15px;
}

.govuk-chat-loading-indicator__dots {
  position: relative;
  left: 25px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #8D8080;
  color: #8D8080;
  animation: govuk-chat-loading-indicator__dots 1s infinite linear alternate;
  animation-delay: 0.5s;
}

.govuk-chat-loading-indicator__dots::before, .govuk-chat-loading-indicator__dots::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}

.govuk-chat-loading-indicator__dots::before {
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #8D8080;
  color: #8D8080;
  animation: govuk-chat-loading-indicator__dots 1s infinite alternate;
  animation-delay: 0s;
}

.govuk-chat-loading-indicator__dots::after {
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #8D8080;
  color: #8D8080;
  animation: govuk-chat-loading-indicator__dots 1s infinite alternate;
  animation-delay: 1s;
}

@keyframes govuk-chat-loading-indicator__dots {
  0% {
    background-color: #8D8080;
  }
  50%, 100% {
    background-color: rgba(152, 128, 255, 0.2);
  }
}

.govuk-chat__feedback-form {
  display: flex;
  margin-top: -20px;
}

.govuk-chat__feedback-buttons {
  position: relative;
  margin-left: 4px;
}

.govuk-chat__feedback-button-group {
  display: inline;
}

.govuk-chat__feedback-button {
  background-color: transparent;
  border: none;
  font-size: inherit;
  color: #1d70b8;
  padding-left: 0;
  padding-right: 0;
}

.govuk-chat__feedback-button:hover {
  cursor: pointer;
  color: #003078;
}

.govuk-chat__feedback-button:visited {
  color: #4c2c92;;
}

.govuk-chat__feedback-confirmation {
  margin-top: -20px;
}

.govuk-chat__feedback-confirmation p {
  display: inline-block;
}

.govuk-conversational-feedback-wrapper * {
  display: inline-block;
}

.govuk-conversational-feedback-wrapper a {
  display: inline;
}

.govuk-chat__action-link-icon {
  position: relative;
  top: 4px;
}


@media (max-width: 504px) {
  footer.govuk-footer .govuk-footer__meta {
    justify-content: flex-start;
  }

  footer.govuk-footer .govuk-footer__meta .govuk-footer__copyright-logo {
    margin-top: 15px;
    padding-top: 0;
    background-image: none;
    background-repeat: unset;
    background-position: unset;
    background-size: 0;
  }
}

@media (max-width: 640px) {
  .govuk-chat-form {
    display: block;
  }

  .govuk-chat-form .govuk-input {
    width: 100%;
  }

  .govuk-chat-form input[type="submit"] {
    margin-top: 10px;
    padding: 10px 0;
  }

  .govuk-chat-loading-indicator {
    align-items: center;
  }
}

@media (min-width: 640px) {
  footer.govuk-footer {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .govuk-chat-container .govuk-chat-message {
    margin-bottom: 40px;
  }
}

@media (max-width: 480px) {
  .govuk-chat-loading-indicator { 
    width: 90%;
  }
}

@media (max-width: 768px) {
  .govuk-chat header.govuk-header {
    padding-bottom: 10px;
  }

  header.govuk-header--yellow .govuk-header__logo {
    padding-bottom: 0;
    margin-bottom: 0;
  }

  header.govuk-header--yellow .govuk-phase-banner {
    padding: 10px 0;
    margin-top: 0;
  }
}

@media (max-width: 768px) {
  .govuk-chat-landing-page > .govuk-grid-column-two-thirds {
    width: 100%;
  }
}

.js-enabled .govuk-notification-banner--success {
  display: none;
}

.govuk-grid-row.govuk-chat-onboarding-page {
  @media (min-width: 640px) {
    margin-right: 200px;
  }
}

.govuk-chat-lowercase {
  text-transform: lowercase;
}
